<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="cs-identifier">
    <style>
        :host {
            color: yellow;
            font-family: 'Consolas', monospace;
            font-size: 12pt;
        }
    </style>
    <template>
        <span id="identifier" contenteditable on-focus="focus" on-blur="blur"><content></content></span>
    </template>
    <script>
        Polymer({
            is: "cs-identifier",
            properties: {
                Previous: String,
                canEdit: {
                    type: Boolean,
                    value: true
                }
            },
            focus: function () {
                //if (canEdit) {
                {
                    this.Previous = document.querySelector("#identifier").textContent;
                }
            },
            blur: function () {
                /*if (!canEdit) {
                    return;
                }*/
                var node = document.querySelector("#identifier");
                var text = node.textContent;

                if (text === "") {
                    alert("Invalid Identifier");
                    node.textContent = this.Previous;
                }
            },
            isValid: function () {
                var node = document.querySelector("#identifier");
                var text = node.textContent;


                if (text === "") {
                    return false;
                }

                // text can start with the at symbol, underscore, or characters
            }
        });
    </script>
</dom-module>